/build/
/nbproject/private/
/parte2/JavaApplication2/nbproject/private/
/parte2/Poo/nbproject/private/
/parte2/Poo/build/
/dist/
/parte3/CatalogoPelicula/nbproject/private/
/parte3/CatalogoPelicula/build/
/parte3/CatalogoPelicula/dist/
/parte4/practicasPoo/nbproject/private/
/parte4/practicasPoo/build/
/parte4/practicasPoo/dist/
/parte4/nuevoAts/nbproject/private/
/parte 5/nuevoAts/nbproject/private/
/parte 5/nuevoAts/build/
/parte 6/JavayDatos/nbproject/private/
/parte 6/JavayDatos/build/
/parte 7/Java_Mysql/target/
/parte8/Mensajes/target/
/Interfaces/Interfaces/nbproject/private/
/Interfaces/Interfaces/build/
/Interfaces/Interfaces/dist/
/parte 3/CatalogoPelicula/nbproject/private/
/parte 4/practicasPoo/build/
/parte 4/practicasPoo/nbproject/private/
