/build/
/nbproject/private/
/parte2/JavaApplication2/nbproject/private/
/parte2/Poo/nbproject/private/
/parte2/Poo/build/
/dist/
/parte3/CatalogoPelicula/nbproject/private/
/parte3/CatalogoPelicula/build/
/parte3/CatalogoPelicula/dist/
/parte4/practicasPoo/nbproject/private/
/parte4/practicasPoo/build/
/parte4/practicasPoo/dist/
/parte4/nuevoAts/nbproject/private/
/parte 5/nuevoAts/nbproject/private/
